@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.processBar {
  margin: 16px;
  width: 100%;
  height: 20px;
}

#unfinished {
  background-color: #d8dbbd;
}

#done {
  background-color: #dce4c9;
  opacity: 70%;
}

#unfinished,
#done {
  height: 100%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.span {
  display: flex;
  justify-content: center;
}

#click {
  font-size: 14px;
  font-style: italic;
  color: #62825d;
  padding: 0.5em;
}
