.addTask:focus {
  outline: 0;
  box-shadow: none;
}

.form {
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}

.todoInput {
  max-width: 240px;
  height: 44px;
  border: 2px solid transparent;
  font-size: 1rem;
}

.addTask {
  max-width: 190px;
  height: 44px;
  padding: 0 1rem;
  font-size: 14px;
}
