.todos {
  padding: 0 2em;
  margin: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 26px;
}

.todo {
  padding: 0.5em;
  width: 80%;
  list-style: none;
  color: #526e48;
  font-size: 19px;
  cursor: pointer;
}
