body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  font: "Varela Round";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.processBar {
  display: flex;
  justify-content: center;
  margin: 16px;
  width: 100%;
  height: 20px;
}

#unfinished {
  width: 320px;
  height: 100%;
  background-color: #f5efff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#done {
  border-radius: 6px;
  height: 100%;
  width: 70px;
  background-color: #cdc1ff;
  opacity: 70%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.todos {
  margin: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 26px;
}

li {
  list-style: none;
  margin: 3px;
}

form {
  margin: 15px;
}

span {
  display: flex;
  justify-content: center;
}
